body {
    font-family: "Roboto Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #161032;
    color: white;
    padding: 100px 0;
    text-align: center;
}
h1 {
    font-family: Georgia, serif;   
    font-size: 96px;
    margin: 0;
    color: #E06D06;
}
h2 {
    font-size: 36px;   
}
.container {
    padding: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
